name: gh

on:
  create:  # is used for publishing to PyPI and TestPyPI
    tags:  # any tag regardless of its name, no branches
  push:  # only publishes pushes to the main branch to TestPyPI
    branches:  # any maintenance branch but not tag
      # avoid generic ** as it duplicates builds from temporary branches
      - "master"
      - "stable/**"
    tags-ignore:
    - >-
      **
  pull_request:

jobs:
  test_python:
    name: pypy3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: pypy-3.8
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Test with tox
        run: python -m tox -e pypy3
