name: gh

on:
  create:  # is used for publishing to PyPI and TestPyPI
    tags:  # any tag regardless of its name, no branches
  push:  # only publishes pushes to the main branch to TestPyPI
    branches:  # any maintenance branch but not tag
      # avoid generic ** as it duplicates builds from temporary branches
      - "master"
      - "stable/**"
    tags-ignore:
    - >-
      **
  pull_request:

jobs:
  test_python:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: pypy3-ubuntu
            python-version: pypy-3.8

    steps:
      - name: Set Newline Behavior
        run : git config --global core.autocrlf false
      - uses: actions/checkout@master
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix['python-version'] }}
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Get Tox Environment Name From Matrix Name
        uses: rishabhgupta/split-by@v1
        id: split-matrix-name
        with:
          string: '${{ matrix.name }}'
          split-by: '-'
      - name: Test with tox
        run: python -m tox -e ${{ steps.split-matrix-name.outputs._0}}
